JUMP MAIN
MAIN:
PUSHN 3
START
PUSHF 2.7
STOREG 0
PUSHG 0
FTOI
STOREG 1
PUSHG 0
DUP 1
PUSHF 0.0
FINF
JZ ROUNDPOS1
PUSHF 0.5
FSUB
FTOI
JUMP ROUNDEND2
ROUNDPOS1:
PUSHF 0.5
FADD
FTOI
ROUNDEND2:
STOREG 2
PUSHG 1
WRITEI
PUSHI 32
WRITECHR
PUSHG 2
WRITEI
WRITELN
STOP
