JUMP MAIN
MAIN:
PUSHN 2
START
PUSHI 0
STOREG 0
PUSHG 0
PUSHI 0
EQUAL
NOT
JZ ANDFALSE1
PUSHI 10
PUSHG 0
DIV
PUSHI 1
SUP
JUMP ANDEND2
ANDFALSE1:
PUSHI 0
ANDEND2:
STOREG 1
PUSHS "ok"
WRITES
WRITELN
STOP