JUMP MAIN
MAIN:
PUSHN 1
START
PUSHI 1
JZ ORTRUE1
PUSHI 1
JUMP OREND2
ORTRUE1:
PUSHI 0
OREND2:
JZ ORTRUE3
PUSHI 1
JUMP OREND4
ORTRUE3:
PUSHI 1
OREND4:
JZ ANDFALSE7
PUSHI 1
JZ ANDFALSE5
PUSHI 1
JUMP ANDEND6
ANDFALSE5:
PUSHI 0
ANDEND6:
JUMP ANDEND8
ANDFALSE7:
PUSHI 0
ANDEND8:
JZ IFEND9
PUSHI 1
STOREG 0
IFEND9:
STOP
